<div id="header" class="margin-b30">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="top-left">
                        <p class="current-time main-bg">Friday, May 5, 2017</p>
                        <ul class="top-header-link color-text-link list-inline-block">
                            <li><a href="#">RTL</a></li>
                            <li><a href="#">Mobile Theme</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About Worldnews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <form class="newsletter-form text-right">
                        <input type="email" name="email" placeholder="Your email address"/>
                        <input class="main-bg" type="submit" value="Subscribe" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="logo">
                        <h1 class="hidden">WorldNews By MediaPro</h1>
                        <a href="/">
                            <img src="images/logo-header.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="scale-out home1-banner1">
                        <a href="#">
                            <div class="scale-out-bg">
                                <img src="images/ads/banner1-bg.jpg" alt="">
                            </div>
                            <div class="ads-scale-content1">
                                <img src="images/ads/banner1-logo.jpg" alt=""/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Header -->
    <div class="white-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <nav class="main-nav">
                        <ul class="list-none">
                            <li class="current-menu-item menu-item-has-children">
                                <a href="index-2.html">Home</a>
                                <ul class="sub-menu menu-animation">
                                    <li><a href="home-01.html">Home 1</a></li>
                                    <li><a href="home-02.html">Home 2</a></li>
                                    <li><a href="home-03.html">Home 3</a></li>
                                    <li><a href="home-04.html">Home 4</a></li>
                                    <li><a href="home-05.html">Home 5</a></li>
                                </ul>
                            </li>
                            <li class="has-mega-menu">
                                <a href="#">Features</a>
                                <div class="mega-menu menu-animation">
                                    <div class="sidebar-mega-menu">
                                        <ul>
                                            <li><a href="#">Category Layouts</a></li>
                                            <li><a href="#">Content Blocks</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Post Template</a></li>
                                            <li><a href="#">Post Formats</a></li>
                                            <li><a href="#">Elements</a></li>
                                            <li><a href="#">Page Templates & Layouts</a></li>
                                        </ul>
                                    </div>
                                    <div class="content-mega-menu has-column">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="list-cat-mega-menu">
                                                <b class="title-cat-mega-menu">Top post</b>
                                                <ul>
                                                    <li><a href="#">Top posts 1</a></li>
                                                    <li><a href="#">Top posts 2</a></li>
                                                    <li><a href="#">Top posts 3</a></li>
                                                    <li><a href="#">Top posts 4</a></li>
                                                    <li><a href="#">Top posts 5</a></li>
                                                    <li><a href="#">Top posts 6</a></li>
                                                    <li><a href="#">Top posts 7</a></li>
                                                    <li><a href="#">Top posts 8</a></li>
                                                    <li><a href="#">Top posts 9</a></li>
                                                    <li><a href="#">Top posts 10</a></li>
                                                    <li><a href="#">Top posts 11</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="list-cat-mega-menu">
                                                <b class="title-cat-mega-menu">Post listings</b>
                                                <ul>
                                                    <li><a href="#">Blog 1</a></li>
                                                    <li><a href="#">Blog 2</a></li>
                                                    <li><a href="#">Blog 3</a></li>
                                                    <li><a href="#">Blog 4</a></li>
                                                    <li><a href="#">Blog 5</a></li>
                                                    <li><a href="#">Classic 1</a></li>
                                                    <li><a href="#">Classic 2</a></li>
                                                    <li><a href="#">Classic 3</a></li>
                                                    <li><a href="#">Grid 1 - 2c</a></li>
                                                    <li><a href="#">Grid 1 - 3c</a></li>
                                                    <li><a href="#">Grid 3 - 2c</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="list-cat-mega-menu">
                                                <b class="title-cat-mega-menu">2 Column - 1 Sidebar</b>
                                                <ul>
                                                    <li><a href="#">Layout 2 - Right Sidebar</a></li>
                                                    <li><a href="#">Layout 1 - Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="list-cat-mega-menu">
                                                <b class="title-cat-mega-menu">3 Column - 2 Sidebar</b>
                                                <ul>
                                                    <li><a href="#">Layout 1</a></li>
                                                    <li><a href="#">Layout 2</a></li>
                                                    <li><a href="#">Layout 3</a></li>
                                                    <li><a href="#">Layout 4</a></li>
                                                    <li><a href="#">Layout 5</a></li>
                                                    <li><a href="#">Layout 6</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-mega-menu">
                                <a href="#">Business</a>
                                <div class="mega-menu menu-animation">
                                    <div class="sidebar-mega-menu">
                                        <ul>
                                            <li><a href="#">Category</a></li>
                                            <li><a href="#">Marketing</a></li>
                                            <li><a href="#">Consulting</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Technology</a></li>
                                        </ul>
                                    </div>
                                    <div class="content-mega-menu ion-small">
                                        <span class="mega-menu-title">Hot news</span>
                                        <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[768,3]]">
                                            <div class="post-item">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="images/posts/270x180/worldnews_fashion-14.jpg" alt=""></a>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"><b>Why it's the year to wear what you like not dress for your type</b></a>
                                                    <ul class="post-list-info">
                                                        <li>
                                                            <i class="ion-android-calendar"></i>
                                                            <span>13 Api 2017</span>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="ion-chatbox-working"></i>
                                                                <span>678</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p>Proactively envisioned multimedia based expertise and cross-media growth strategies ...</p>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="images/posts/270x180/worldnews_fashion-12.jpg" alt=""></a>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"><b>How to style a choker so you don't look like every other girl on the planet</b></a>
                                                    <ul class="post-list-info">
                                                        <li>
                                                            <i class="ion-android-calendar"></i>
                                                            <span>13 Api 2017</span>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="ion-chatbox-working"></i>
                                                                <span>678</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p>Dramatically mesh low-risk high-yield alignments before transparent e-tailers ...</p>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="images/posts/270x180/worldnews_fashion-11.jpg" alt=""></a>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"><b>Why self esteem such and why you dont need it</b></a>
                                                    <ul class="post-list-info">
                                                        <li>
                                                            <i class="ion-android-calendar"></i>
                                                            <span>13 Api 2017</span>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="ion-chatbox-working"></i>
                                                                <span>678</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ...</p>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="images/posts/270x180/worldnews_fashion-13.jpg" alt=""></a>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"><b>Cindy Crawford's festival style in flawless with a capital</b></a>
                                                    <ul class="post-list-info">
                                                        <li>
                                                            <i class="ion-android-calendar"></i>
                                                            <span>13 Api 2017</span>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="ion-chatbox-working"></i>
                                                                <span>678</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p>Quickly coordinate e-business applications through revolutionary catalysts for change ...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Moblie</a>
                            </li>
                            <li class="new-post-span">
                                <a href="#">
                                    <span>New</span>
                                    Fashion
                                </a>
                            </li>
                            <!-- <li><a href="#">IT-Tech</a></li> -->
                            <li><a href="#">Travel & Sport</a></li>
                            <li class="menu-item-has-children">
                                <a href="listing-01.html">Blog</a>
                                <ul class="sub-menu menu-animation">
                                    <li><a href="listing-01.html">Listing 1</a></li>
                                    <li><a href="listing-02.html">Listing 2</a></li>
                                    <li><a href="listing-03.html">Listing 3</a></li>
                                    <li><a href="listing-04.html">Listing 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Shop</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Page</a>
                                <ul class="sub-menu menu-animation">
                                    <li><a href="post-01.html">Post 1</a></li>
                                    <li><a href="post-02.html">Post 2</a></li>
                                    <li><a href="post-03.html">Post 3</a></li>
                                    <li><a href="post-04.html">Post 4</a></li>
                                </ul>
                            </li>
                        </ul>
                        <span class="ion-navicon-round oswald-font">Menu</span>
                    </nav>
                </div>
                <!-- If User -->
                <% if (user) { %>
                <div class="col-xs-3">
                    <div class="right-menu">
                        <ul class="float-right">
                            <li>
                                <a href="#"><i class="ion-android-person"></i> <%= user.profile.name %></a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-android-cart"></i>
                                    <span>0</span>
                                </a>
                            </li>
                        </ul>
                        <div class="box-search float-right">
                            <form class="search-form" action="http://demo.7uptheme.com/html/worldnews/search.html">
                                <input type="text" name="s" placeholder="Search">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Else -->
                <% } else { %>
                <div class="col-xs-3">
                    <div class="right-menu">
                        <ul class="float-right">
                            <li><a href="/signup">SignUp</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                        <div class="box-search float-right">
                            <form class="search-form" action="http://demo.7uptheme.com/html/worldnews/search.html">
                                <input type="text" name="s" placeholder="Search">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- End Header Nav -->
</div>