<% layout('layout') -%>

<div id="content">
			<div class="container">
				<div class="row">
					<div class="top-content">
						<div class="col-md-8">
							<div class="left-top-content drop-shadow margin-b30">
								<div class="top-slider1 ion-big">
									<div class="wrap-item" data-pagination="true" data-paginumber="true"  data-navigation="true" data-itemscustom="[[0,1],[980,1]]">
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="fashion-bg">Fashion</a></li>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/770x513/worldnews_fashion-08.jpg" alt=""></a>
											</div>
											<div class="slide-post-info">
												<a href="#"><b>New collection Style for woman 2017</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>10</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Item -->
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="fashion-bg">Fashion</a></li>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/770x513/worldnews_fashion-09.jpg" alt=""></a>
											</div>
											<div class="slide-post-info">
												<a href="#"><b>Why it's the year to wear what you like not dress for your type</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>10</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Item -->
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
														<li><a href="#" class="business-bg">Business</a></li>
														<li><a href="#" class="fashion-bg">Fashion</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/770x513/worldnews_business-04.jpg" alt=""></a>
											</div>
											<div class="slide-post-info">
												<a href="#"><b>Magazine Wordpress theme by ThemeProfuse</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>05</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Item -->
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
														<li><a href="#" class="business-bg">Business</a></li>
														<li><a href="#" class="fashion-bg">Fashion</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/770x513/worldnews_ittech-06.jpg" alt=""></a>
											</div>
											<div class="slide-post-info">
												<a href="#"><b>Magazine Wordpress theme by ThemeProfuse</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>05</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Item -->
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="fashion-bg">Fashion</a></li>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/770x513/worldnews_travel-07.jpg" alt=""></a>
											</div>
											<div class="slide-post-info">
												<a href="#"><b>Why it's the year to wear what you like not dress for your type</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>10</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Item -->
									</div>
								</div>
								<div class="experts home-title color-border-bottom">
									<h2 class="color-title">Experts</h2>
									<ul>
										<li>
											<div class="experts-thumb">
												<a href="#">
													<img src="images/home/home1/expert1.png" alt="">
												</a>
											</div>											
											<div class="experts-info">											
												<a href="#"><b>Mr Fanbong Fam</b></a>
												<p>Fashion Expert</p>
												<a class="more" href="#">More</a>
											</div>
										</li>
										<li>
											<div class="experts-thumb">
												<a href="#">
													<img src="images/home/home1/expert2.png" alt="">
												</a>
											</div>											
											<div class="experts-info">											
												<a href="#"><b>Claudio Mak</b></a>
												<p>Sport Expert</p>
												<a class="more" href="#">More</a>
											</div>
										</li>
										<li>
											<div class="experts-thumb">
												<a href="#">
													<img src="images/home/home1/expert3.png" alt="">
												</a>
											</div>
											<div class="experts-info">											
												<a href="#"><b>David Tran</b></a>
												<p>It-Tech Expert</p>
												<a class="more" href="#">More</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="right-top-content margin-b30 drop-shadow">
								<div class="trending home-title color-border-bottom ion-small">
									<h2 class="color-title">Trending</h2>
									<div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
										<div class="post-box">
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_fashion-11.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="fashion-bg">Fashion</a></li>
														</ul>
													</div>
													<a href="#"><b>Bulum iaculis lacinia est.</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>20 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>10</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_ittech-03.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="business-bg">Business</a></li>
														</ul>
													</div>
													<a href="#"><b>South African Garth Mulroy</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>14 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>07</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_ittech-09.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="tech-bg">IT-Tech</a></li>
														</ul>
													</div>
													<a href="#"><b>Bulum iaculis lacinia est.</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>20 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>15</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
										</div>
										<div class="post-box">
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_fashion-01.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="fashion-bg">Fashion</a></li>
														</ul>
													</div>
													<a href="#"><b>Bulum iaculis lacinia est.</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>20 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>10</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_business-02.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="business-bg">Business</a></li>
														</ul>
													</div>
													<a href="#"><b>South African Garth Mulroy</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>14 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>07</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
											<div class="post-item">
												<div class="post-thumb">
													<a href="#"><img src="images/posts/120x80/worldnews_ittech-02.jpg" alt=""></a>
												</div>
												<div class="post-info">
													<div class="list-cat-btn">
														<ul>
															<li><a href="#" class="tech-bg">IT-Tech</a></li>
														</ul>
													</div>
													<a href="#"><b>Bulum iaculis lacinia est.</b></a>
													<ul class="post-list-info">
														<li>
															<i class="ion-android-calendar"></i>
															<span>20 Jun 2017</span>
														</li>
														<li>
															<a href="#">
																<i class="ion-chatbox-working"></i>
																<span>15</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- End Item -->
										</div>
									</div>
								</div>
							</div>
							<div class="stay-with-us home-title color-border-bottom drop-shadow margin-b30">
								<h2 class="color-title">Stay with us</h2>
								<ul>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-facebook"></i></a>
											<p><strong>13,050</strong>Likes</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-twitter"></i></a>
											<p><strong>700</strong>Followers</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-pinterest"></i></a>
											<p><strong>5,910</strong>Followers</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-instagram"></i></a>
											<p><strong>436</strong>Followers</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-vimeo"></i></a>
											<p><strong>980</strong>Subscribles</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-googleplus"></i></a>
											<p><strong>11,370</strong>Followers</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-rss"></i></a>
											<p><strong>RSS</strong>Subscribles</p>
										</div>
									</li>
									<li>
										<div class="glow-social">
											<a href="#"><i class="ion-social-linkedin"></i></a>
											<p><strong>3,450</strong>Followers</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>					
					<!-- End Top Content -->			
				</div>
				<div class="feature-posts home-title color-border-bottom ion-small drop-shadow margin-b30">
					<h2 class="color-title">Feature posts</h2>
					<div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[480,2],[768,3],[980,5]]">
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_fashion-02.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>Nemo Enim Ipsam Volup latim monla</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>14 May 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>09</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_fashion-07.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>Science explains how singing in the car can boost your</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>13 Api 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>678</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_travel-04.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>How to keep a long-haul flight from ruining</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>20 Jun 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>27</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_travel-01.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>New builds in singapore: Innovative</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>30 Aug 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>43</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_fashion-09.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>7 Fashion tips that will make you the center of the room</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>08 Aug 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>08</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="post-item">
							<div class="post-thumb">
								<a href="#"><img src="images/posts/510x340/worldnews_fashion-03.jpg" alt="" /></a>
							</div>
							<div class="post-info">
								<a href="#"><b>Cindy Crawford's festival style in flawless with a</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>13 Api 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>678</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Feature Post -->
				<div class="business home-cat color-border-bottom margin-b30">
					<div class="head-cat">
						<h2 class="color-title">Business</h2>
						<div class="breaking-news">
							<button class="business-bg">Breaking news</button>
							<div class="carousel slide" data-ride="carousel">
								<ul class="carousel-inner" role="listbox">
									<li class="item active"><a href="#">Magalla Magazine - News and Business Blog</a></li>
									<li class="item"><a href="#">Science explains how singing in the car can boost your mental health</a></li>
									<li class="item"><a href="#">The future of tripods gets rid of all those fiddly knobs</a></li>
								</ul>								
							</div>
						</div>					
					</div>
					<div class="item-cat-home">
						<div class="col-md-9 cat-home-left">
							<div class="home-cat-content">
								<div class="home-cat-first">
									<div class="home-cat-thumb">
										<div class="list-cat-btn">
											<ul>
												<li><a href="#" class="tech-bg">IT-Tech</a></li>
												<li><a href="#" class="business-bg">Business</a></li>
												<li><a href="#" class="fashion-bg">Fashion</a></li>
											</ul>
										</div>
										<div class="type-icon">
											<i class="ion-image"></i>
										</div>
										<a href="#"><img src="images/posts/510x340/worldnews_business-01.jpg" alt=""></a>
									</div>
									<div class="home-cat-info">
										<a href="#"><b>Business : Magazine Wordpress Theme</b></a>
										<ul class="post-list-info">
											<li>
												<i class="ion-android-calendar"></i>
												<span>20 Jun 2017</span>
											</li>
											<li>
												<a href="#">
													<i class="ion-chatbox-working"></i>
													<span>05</span>
												</a>
											</li>
										</ul>
										<p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...</p>
										<a href="#" class="more business-bg">More</a>
									</div>								
								</div>
								<div class="home-cat-related">
									<div class="post-box">
										<div class="post-item">
											<div class="post-thumb">
												<a href="#"><img src="images/posts/120x80/worldnews_business-02.jpg" alt=""></a>
											</div>
											<div class="post-info">
												<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>23</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<a href="#"><img src="images/posts/120x80/worldnews_business-05.jpg" alt=""></a>
											</div>
											<div class="post-info">
												<a href="#"><b>Krypton: Responsive Business and Proin dictum elemntum</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>45</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<a href="#"><img src="images/posts/120x80/worldnews_business-06.jpg" alt=""></a>
											</div>
											<div class="post-info">
												<a href="#"><b>Bulum iaculis lacinia est.</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>02</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<a href="#"><img src="images/posts/120x80/worldnews_business-08.jpg" alt=""></a>
											</div>
											<div class="post-info">
												<a href="#"><b>News Paper - Responsive WordPress</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>69</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>								
								</div>
							</div>
						</div>
						<div class=" col-md-3 cat-home-right">
							<div class="most-popular">
								<h3 class="title14 business-bg">Business most popular</h3>
								<div class="post-box square">
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-03.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-04.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Diana says: Vlogging saved my life Proin dictum</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-07.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-01.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-04.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Features which changed computer world</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Business -->
				<div class="mobile home-cat color-border-bottom margin-b30">
					<div class="head-cat">
						<h2 class="color-title">Mobile</h2>
						<div class="breaking-news">
							<button class="mobile-bg">Breaking news</button>							
							<div class="carousel slide" data-ride="carousel">
								<ul class="carousel-inner" role="listbox">
									<li class="item active"><a href="#">Magalla Magazine - News and Business Blog</a></li>
									<li class="item"><a href="#">Science explains how singing in the car can boost your mental health</a></li>
									<li class="item"><a href="#">The future of tripods gets rid of all those fiddly knobs</a></li>
								</ul>								
							</div>
						</div>					
					</div>
					<div class="item-cat-home">
						<div class="cat-home-left">
							<div class="home-cat-content">
								<div class="home-cat-first">
									<div class="home-cat-thumb">
										<div class="list-cat-btn">
											<ul>
												<li><a href="#" class="tech-bg">IT-Tech</a></li>
												<li><a href="#" class="mobile-bg">Mobile</a></li>
											</ul>
										</div>
										<div class="type-icon">
											<i class="ion-ios-videocam"></i>
										</div>
										<a href="#"><img src="images/posts/510x340/worldnews_mobile-07.jpg" alt=""></a>
									</div>
									<div class="home-cat-info">
										<a href="#"><b>Why it's the year to wear what you like not</b></a>
										<ul class="post-list-info">
											<li>
												<i class="ion-android-calendar"></i>
												<span>20 Jun 2017</span>
											</li>
											<li>
												<a href="#">												
													<i class="ion-chatbox-working"></i>
													<span>05</span>
												</a>
											</li>
										</ul>
										<p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...</p>
										<a href="#" class="more mobile-bg">More</a>
									</div>								
								</div>
							</div>
							<div class="home-cat-related">
								<div class="post-box">								
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_mobile-01.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>23</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_mobile-03.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Krypton: Responsive Business and Proin dictum elemntum</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>45</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_mobile-04.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>02</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_mobile-05.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>News Paper - Responsive WordPress</b></a>		
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>69</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="cat-home-right">
							<div class="ads-style1 drop-shadow">
								<a href="#">
									<figure class="effect-bubba">
										<img src="images/ads/ads1-bg.jpg" alt="">
										<figcaption>
											<p class="click-here">Click here</p>
										</figcaption>
									</figure>
								</a>		
							</div>
						</div>
					</div>
				</div>
				<!-- End Mobile -->
				<div class="fashion home-cat color-border-bottom margin-b30">
					<div class="head-cat">
						<h2 class="color-title">Fashion</h2>
						<div class="breaking-news">
							<button class="fashion-bg">Breaking news</button>
							<div class="carousel slide" data-ride="carousel">
								<ul class="carousel-inner" role="listbox">
									<li class="item active"><a href="#">Magalla Magazine - News and Business Blog</a></li>
									<li class="item"><a href="#">Science explains how singing in the car can boost your mental health</a></li>
									<li class="item"><a href="#">The future of tripods gets rid of all those fiddly knobs</a></li>
								</ul>								
							</div>
						</div>					
					</div>
					<div class="item-cat-home">
						<div class="cat-home-left">
							<div class="home-cat-content">
								<div class="home-cat-first">
									<div class="home-cat-thumb">
										<div class="list-cat-btn">
											<ul>
												<li><a href="#" class="travel-bg">Travel</a></li>
												<li><a href="#" class="fashion-bg">Fashion</a></li>
											</ul>
										</div>
										<div class="type-icon">
											<i class="ion-ios-videocam"></i>
										</div>
										<a href="#"><img src="images/posts/510x340/worldnews_fashion-03.jpg" alt=""></a>
									</div>
									<div class="home-cat-info">
										<a href="#"><b>Why it's the year to wear what you like not</b></a>
										<ul class="post-list-info">
											<li>
												<i class="ion-android-calendar"></i>
												<span>20 Jun 2017</span>
											</li>
											<li>
												<a href="#">												
													<i class="ion-chatbox-working"></i>
													<span>05</span>
												</a>
											</li>
										</ul>
										<p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...</p>
										<a href="#" class="more fashion-bg">More</a>
									</div>								
								</div>
							</div>
							<div class="home-cat-related">
								<div class="post-box">
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_fashion-01.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>23</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_fashion-11.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Krypton: Responsive Business and Proin dictum elemntum</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>45</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_fashion-07.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>02</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_fashion-06.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>News Paper - Responsive WordPress</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>69</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="cat-home-right">
							<div class="most-popular">
								<h3 class="title14 fashion-bg">Fashion most popular</h3>
								<div class="post-box square">									
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-05.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-02.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Diana says: Vlogging saved my life Proin dictum</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-10.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-12.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_fashion-13.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Features which changed computer world</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Fashion -->
				<div class="travel home-cat color-border-bottom margin-b30">
					<div class="head-cat">
						<h2 class="color-title">Travel & Sport</h2>
						<div class="breaking-news">
							<button class="travel-bg">Breaking news</button>
							<div class="carousel slide" data-ride="carousel">
								<ul class="carousel-inner" role="listbox">
									<li class="item active"><a href="#">Magalla Magazine - News and Business Blog</a></li>
									<li class="item"><a href="#">Science explains how singing in the car can boost your mental health</a></li>
									<li class="item"><a href="#">The future of tripods gets rid of all those fiddly knobs</a></li>
								</ul>								
							</div>
						</div>					
					</div>
					<div class="item-cat-home">
						<div class="cat-home-left">
							<div class="home-cat-content">
								<div class="home-cat-first">
									<div class="home-cat-thumb">
										<div class="list-cat-btn">
											<ul>
												<li><a href="#" class="travel-bg">Travel</a></li>
												<li><a href="#" class="fashion-bg">Fashion</a></li>
											</ul>
										</div>
										<div class="type-icon">
											<i class=""></i>
										</div>
										<a href="#"><img src="images/posts/510x340/worldnews_travel-04.jpg" alt=""></a>
									</div>
									<div class="home-cat-info">
										<a href="#"><b>Travel boosts mood even more than exercising or</b></a>
										<ul class="post-list-info">
											<li>
												<i class="ion-android-calendar"></i>
												<span>20 Jun 2017</span>
											</li>
											<li>
												<a href="#">												
													<i class="ion-chatbox-working"></i>
													<span>05</span>
												</a>
											</li>
										</ul>
										<p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...</p>
										<a href="#" class="more travel-bg">More</a>
									</div>								
								</div>
							</div>
							<div class="home-cat-related">
								<div class="post-box">
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_travel-03.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>23</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_travel-06.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Krypton: Responsive Business and Proin dictum elemntum</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>45</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_travel-07.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>02</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_travel-08.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>News Paper - Responsive WordPress</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>69</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="cat-home-right">						
							<div class="ads-style1 drop-shadow">
								<a href="#">
									<figure class="effect-bubba">
										<img src="images/ads/ads2-bg.jpg" alt="">
										<figcaption>
											<p class="learn-more hvr-shrink">Learn more</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Travel -->
				<div class="tech home-cat color-border-bottom margin-b30">
					<div class="head-cat">
						<h2 class="color-title">IT - Tech</h2>
						<div class="breaking-news">
							<button class="tech-bg">Breaking news</button>
							<div class="carousel slide" data-ride="carousel">
								<ul class="carousel-inner" role="listbox">
									<li class="item active"><a href="#">Magalla Magazine - News and Business Blog</a></li>
									<li class="item"><a href="#">Science explains how singing in the car can boost your mental health</a></li>
									<li class="item"><a href="#">The future of tripods gets rid of all those fiddly knobs</a></li>
								</ul>								
							</div>
						</div>					
					</div>
					<div class="item-cat-home">
						<div class="cat-home-left">
							<div class="home-cat-content">
								<div class="home-cat-first">
									<div class="home-cat-thumb">
										<div class="list-cat-btn">
											<ul>
												<li><a href="#" class="tech-bg">IT-Tech</a></li>
											</ul>
										</div>
										<div class="type-icon">
											<i class="ion-image"></i>
										</div>
										<a href="#"><img src="images/posts/510x340/worldnews_mobile-07.jpg" alt=""></a>
									</div>
									<div class="home-cat-info">
										<a href="#"><b>New York's antiquated steering wheel law poses</b></a>
										<ul class="post-list-info">
											<li>
												<i class="ion-android-calendar"></i>
												<span>20 Jun 2017</span>
											</li>
											<li>
												<a href="#">												
													<i class="ion-chatbox-working"></i>
													<span>05</span>
												</a>
											</li>
										</ul>
										<p>Cliquam eget arcu  magna, vel congue dui. Nunc auctor mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...</p>
										<a href="#" class="more tech-bg">More</a>
									</div>								
								</div>
							</div>
							<div class="home-cat-related">
								<div class="post-box">
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_ittech-04.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Magalla Magazine - News and Business Blog</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>23</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_ittech-05.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Krypton: Responsive Business and Proin dictum elemntum</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>45</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_ittech-02.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>02</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/120x80/worldnews_ittech-03.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>News Paper - Responsive WordPress</b></a>	
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>69</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="cat-home-right">
							<div class="most-popular">
								<h3 class="title14 tech-bg">IT-Tech most popular</h3>
								<div class="post-box square">
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-08.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-06.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Hot water and ice power this motor made of paper</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_business-01.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>9 signs your dating someone you don't need to...</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_ittech-07.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>Bulum iaculis lacinia est.</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="post-item">
										<div class="post-thumb">
											<a href="#"><img src="images/posts/50x50/worldnews_mobile-02.jpg" alt=""></a>
										</div>
										<div class="post-info">
											<a href="#"><b>10 quality traits all introverts have, even if they...</b></a>
											<ul class="post-list-info">
												<li>
													<i class="ion-android-calendar"></i>
													<span>20 Jun 2017</span>
												</li>
												<li>
													<a href="#">
														<i class="ion-chatbox-working"></i>
														<span>10</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Tech -->
			</div>
			<div class="world-in color-border-bottom ion-big margin-b50">
				<div class="world-head">
					<h2 class="color-title">World in picture</h2>
					<a href="#">View all</a>
				</div>		
				<div class="bottom-slider ion-big">
					<div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[980,2]]">
						<div class="post-item">
							<div class="post-thumb">
								<div class="list-cat-btn">
									<ul>
										<li><a href="#" class="travel-bg">Travel</a></li>
									</ul>
								</div>
								<div class="type-icon">
									<i class="ion-ios-videocam"></i>
								</div>
								<a href="#"><img src="images/home/home1/worldnews_sport-04.jpg" alt="" /></a>
							</div>
							<div class="slide-post-info">
								<a href="#"><b data-hover="Chelsea 3-0 Middlesbrough">Chelsea 3-0 Middlesbrough</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>14 May 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>09</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End Item -->
						<div class="post-item">
							<div class="post-thumb">
								<div class="list-cat-btn">
									<ul>
										<li><a href="#" class="tech-bg">IT-Tech</a></li>
										<li><a href="#" class="mobile-bg">Mobile</a></li>
									</ul>
								</div>
								<div class="type-icon">
									<i class="ion-ios-videocam"></i>
								</div>
								<a href="#"><img src="images/home/home1/worldnews_mobile-05.jpg" alt="" /></a>
							</div>
							<div class="slide-post-info">
								<a href="#"><b data-hover="Samsung Galaxy S8 review: the future of smartphones">Samsung Galaxy S8 review: the future of smartphones</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>14 May 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>09</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End Item -->
						<div class="post-item">
							<div class="post-thumb">
								<div class="list-cat-btn">
									<ul>
										<li><a href="#" class="tech-bg">IT-Tech</a></li>
										<li><a href="#" class="business-bg">Business</a></li>
										<li><a href="#" class="fashion-bg">Fashion</a></li>
									</ul>
								</div>
								<div class="type-icon">
									<i class="ion-ios-videocam"></i>
								</div>
								<a href="#"><img src="images/home/home1/worldnews_travel-07.jpg" alt=""></a>
							</div>
							<div class="slide-post-info">
								<a href="#"><b>Magazine Wordpress theme by ThemeProfuse</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>20 jun 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>05</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End Item -->
						<div class="post-item">
							<div class="post-thumb">
								<div class="list-cat-btn">
									<ul>
										<li><a href="#" class="fashion-bg">Fashion</a></li>
										<li><a href="#" class="tech-bg">IT-Tech</a></li>
										<li><a href="#" class="travel-bg">Travel</a></li>
									</ul>
								</div>
								<div class="type-icon">
									<i class="ion-ios-videocam"></i>
								</div>
								<a href="#"><img src="images/home/home1/worldnews_business-03.jpg" alt=""></a>
							</div>
							<div class="slide-post-info">
								<a href="#"><b>Why it's the year to wear what you like not dress for your type</b></a>
								<ul class="post-list-info">
									<li>
										<i class="ion-android-calendar"></i>
										<span>20 Jun 2017</span>
									</li>
									<li>
										<a href="#">
											<i class="ion-chatbox-working"></i>
											<span>10</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End Item -->
					</div>
				</div>
			</div>
			<!-- End World in picture -->
			<div class="container">
				<div class="row">
					<div class="editor-pick margin-b50">
						<h2 class="color-title">Editor's Pick</h2>
						<div class="pick-block">
							<div class="col-md-8">
								<div class="list-editor-pick">
									<div class="post-box">
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/370x247/worldnews_sport-01.jpg" alt=""></a>	
											</div>
											<div class="post-info">
												<a href="#"><b>Magalla Magazine - News and Business Blog by EA-Studio</b></a>
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>23</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/370x247/worldnews_fashion-15.jpg" alt=""></a>
											</div>
											<div class="post-info">												
												<a href="#"><b>Magalla Magazine - News and Business Blog by EA-Studio</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>23</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="tech-bg">IT-Tech</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/370x247/worldnews_mobile-03.jpg" alt=""></a>
											</div>
											<div class="post-info">	
												<a href="#"><b>Magalla Magazine - News and Business Blog by EA-Studio</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>23</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="post-item">
											<div class="post-thumb">
												<div class="list-cat-btn">
													<ul>
														<li><a href="#" class="travel-bg">Travel</a></li>
													</ul>
												</div>
												<div class="type-icon">
													<i class="ion-ios-videocam"></i>
												</div>
												<a href="#"><img src="images/posts/370x247/worldnews_travel-02.jpg" alt=""></a>
											</div>
											<div class="post-info">
												<a href="#"><b>Magalla Magazine - News and Business Blog by EA-Studio</b></a>	
												<ul class="post-list-info">
													<li>
														<i class="ion-android-calendar"></i>
														<span>20 Jun 2017</span>
													</li>
													<li>
														<a href="#">
															<i class="ion-chatbox-working"></i>
															<span>23</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>								
								</div>	
							</div>
							<div class="col-md-4">
								<div class="pick-right">
									<div class="most-viewed">
										<h3 class="title14 main-bg">Most-viewed</h3>
										<ul class="viewed-list list-none">
											<li>
												<span>1</span>
												<a href="#">
													The great British Brexit robbery: how our democracy was hijacked
												</a>
											</li>
											<li>
												<span>2</span>
												<a href="#">
													<i class="ion-ios-videocam main-color"></i>
													FCC claims comment system attacked after John Oliver's net neutrality segment
												</a>
											</li>
											<li>
												<span>3</span>
												<a href="#">
													Mean stream: how YouTube prank channel DaddyOFive enraged the internet
												</a>
											</li>
											<li>
												<span>4</span>
												<a href="#">
													<i class="ion-ios-videocam main-color"></i>
													Facebook employs ex-political aides to help campaigns target voters
												</a>
											</li>
											<li>
												<span>5</span>
												<a href="#">
													Prey review: sci-fi shooter mashup is less than sum of its parts
												</a>
											</li>
										</ul>
									</div>
									<figure class="effect-shine">
										<a href="#"><img src="images/ads/ads3.jpg" alt=""></a>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<!-- End Editor Pick -->
				</div>
			</div>
		</div>
